ejb/hello-world/hello-parent/hello-ejb/src/main/resources/wsdls/hello.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="HelloService" targetNamespace="http://ejb.hello.prapps.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.hello.prapps.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejb.hello.prapps.com/" xmlns="http://ejb.hello.prapps.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="helloRequest">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="key" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="resp" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="sayHelloRemoteDetail" nillable="true" type="helloRequest"/>
<xs:element name="sayHelloRemoteDetailResponse" nillable="true" type="helloResponse"/>
<xs:element name="sayHelloRemoteResponse" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloRemoteDetail">
    <wsdl:part element="tns:sayHelloRemoteDetail" name="sayHelloRemoteDetail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloRemote">
  </wsdl:message>
  <wsdl:message name="sayHelloRemoteResponse">
    <wsdl:part element="tns:sayHelloRemoteResponse" name="sayHelloRemoteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloRemoteDetailResponse">
    <wsdl:part element="tns:sayHelloRemoteDetailResponse" name="sayHelloRemoteDetailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Hello">
    <wsdl:operation name="sayHelloRemoteDetail">
      <wsdl:input message="tns:sayHelloRemoteDetail" name="sayHelloRemoteDetail">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloRemoteDetailResponse" name="sayHelloRemoteDetailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHelloRemote">
      <wsdl:input message="tns:sayHelloRemote" name="sayHelloRemote">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloRemoteResponse" name="sayHelloRemoteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHelloRemoteDetail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHelloRemoteDetail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloRemoteDetailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHelloRemote">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHelloRemote">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloRemoteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloPort">
      <soap:address location="http://localhost:8080/hello/HelloService/Hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>