ejb/hello-world/hello-parent/hello-webservice/src/main/resources/wsdls/hello.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="HelloService" targetNamespace="http://ejb.hello.prapps.com/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ejb.hello.prapps.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://ejb.hello.prapps.com/"
			xmlns="http://ejb.hello.prapps.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="helloRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="key" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="helloResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="resp" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="sayHelloDetail" nillable="true"
				type="helloRequest" />
			<xs:element name="sayHelloDetailResponse" nillable="true"
				type="helloResponse" />
			<xs:element name="sayHelloResponse" nillable="true"
				type="xs:string" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sayHelloDetail">
		<wsdl:part element="tns:sayHelloDetail" name="sayHelloDetail">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sayHello">
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="tns:sayHelloResponse" name="sayHelloResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sayHelloDetailResponse">
		<wsdl:part element="tns:sayHelloDetailResponse" name="sayHelloDetailResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Hello">
		<wsdl:operation name="sayHelloDetail">
			<wsdl:input message="tns:sayHelloDetail" name="sayHelloDetail">
			</wsdl:input>
			<wsdl:output message="tns:sayHelloDetailResponse"
				name="sayHelloDetailResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHello" name="sayHello">
			</wsdl:input>
			<wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHelloDetail">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sayHelloDetail">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHelloDetailResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sayHello">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHelloResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloService">
		<wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloPort">
			<soap:address location="http://localhost:8080/hello/HelloService/Hello" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>